/** Source: https://codepen.io/christiannaths/pen/yNBjBq */

.chart-demo {
    position: relative;
    width: 560px;
    height: 260px;
    margin: 3em auto;
    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 2px, transparent 2px, transparent 100%);
    background-size: 29px 29px;
    background-position: -11px 11px;
}

.chart-demo::before, .chart-demo::after {
    display: inline-block;
    font-size: 0.875em;
}

.dataset {
    fill-opacity: 0.8;
    filter: url(#dropshadow);
}

#dataset-1 {
    fill: #50E3C2;
}

#dataset-2 {
    fill: #21A6EE;
}

#dataset-3 {
    fill: #807CCC;
}

.chart-demo button {
    position: relative;
    top: -0.75em;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: #384051;
    border-radius: 5px;
    padding: 0.25em 1em;
    font-size: 1em;
    float: right;
    cursor: pointer;
}

.chart-demo button:focus {
    outline: none;
}

@-webkit-keyframes raise {
    0% {
        transform: scaleY(0.01);
    }
    75% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes raise {
    0% {
        transform: scaleY(0.01);
    }
    75% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes decay {
    0% {
        transform: scaleY(1);
    }
    75% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(0.01);
    }
}

.dataset {
    transform-origin: bottom;
    transform: scaleY(0.01);
    opacity: 0.5;
}

.loaded .dataset {
    opacity: 1;
    -webkit-animation: raise 0.5s ease 0.2s forwards;
    animation: raise 0.5s ease 0.2s forwards;
}

.dataset {
    opacity: 1;
    -webkit-animation: decay 0.5s ease 0.2s forwards;
    animation: decay 0.5s ease 0.2s forwards;
}

#dataset-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#dataset-2 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#dataset-3 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}



@media screen and (max-width: 767px){
    .chart-demo{
        height:45vw;
    }
}